SSDataUploader/Service References/SR_VOM_Image/WSImageSync.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SaveVomPhoto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="saveimage" type="tns:SysImage" />
            <s:element minOccurs="0" maxOccurs="1" name="station" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SysImage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ImageID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageData" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ModifiedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedOn" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="LastAction" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageRecordType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Imagestr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PassengerId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UploadedOn" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveVomPhotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveVomPhotoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveVomPhotoSoapIn">
    <wsdl:part name="parameters" element="tns:SaveVomPhoto" />
  </wsdl:message>
  <wsdl:message name="SaveVomPhotoSoapOut">
    <wsdl:part name="parameters" element="tns:SaveVomPhotoResponse" />
  </wsdl:message>
  <wsdl:portType name="WSImageSyncSoap">
    <wsdl:operation name="SaveVomPhoto">
      <wsdl:input message="tns:SaveVomPhotoSoapIn" />
      <wsdl:output message="tns:SaveVomPhotoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSImageSyncHttpGet" />
  <wsdl:portType name="WSImageSyncHttpPost" />
  <wsdl:binding name="WSImageSyncSoap" type="tns:WSImageSyncSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveVomPhoto">
      <soap:operation soapAction="http://tempuri.org/SaveVomPhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSImageSyncSoap12" type="tns:WSImageSyncSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveVomPhoto">
      <soap12:operation soapAction="http://tempuri.org/SaveVomPhoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSImageSyncHttpGet" type="tns:WSImageSyncHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="WSImageSyncHttpPost" type="tns:WSImageSyncHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="WSImageSync">
    <wsdl:port name="WSImageSyncSoap" binding="tns:WSImageSyncSoap">
      <soap:address location="http://10.1.7.177:90/WebService/WSImageSync.asmx" />
    </wsdl:port>
    <wsdl:port name="WSImageSyncSoap12" binding="tns:WSImageSyncSoap12">
      <soap12:address location="http://10.1.7.177:90/WebService/WSImageSync.asmx" />
    </wsdl:port>
    <wsdl:port name="WSImageSyncHttpGet" binding="tns:WSImageSyncHttpGet">
      <http:address location="http://10.1.7.177:90/WebService/WSImageSync.asmx" />
    </wsdl:port>
    <wsdl:port name="WSImageSyncHttpPost" binding="tns:WSImageSyncHttpPost">
      <http:address location="http://10.1.7.177:90/WebService/WSImageSync.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>